# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\86133\Desktop\大二上课程\Java Work\workspace\java-work8\2020010505-薛飞宇-实验8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
